
<%=render "shared/container1"%>

    <div class="col-md-4 gradient-custom text-center" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; background-color: #F8F8FF; border-right-style:inset">

        <%=image_tag "default_profile_icon.png" ,class:"img-fluid my-5" ,style:"width:80px" %>
        <h5> <%= @admin.name %></h5>
        <p><%= @admin.type || User  %></p>
        <%if current_user?(@admin)%>
            <h6><%= link_to "My Bookings",bookings_path(@admin.id), class:"btn btn-outline-success mt-2" %></h6> 
        <%end%>
    </div>

    <div class="col-md-8">
        <div class="card-body p-4">
            <h6> Account Information</h6>
            <hr class="mt-0 mb-2">
            <div class="row pt-0">
                <div class="col-8 mb-0">
                    <h6>Email:</h6>
                    <p class="text-muted"><%= @admin.email %></p>
                </div>
            </div>
            <div class="row pt-0">
                <div class="col-8 mb-0">
                    <h6>Created on:</h6>
                    <p class="text-muted"><%= @admin.created_at.localtime.strftime("%d/%m/%Y , %r")%> <%= @admin.created_at.localtime.strftime(" %Z") %> </p>
                </div>
            </div>
            <%if current_user?(@admin)%>
                <div class="row pt-1">
                    <div class="col-6 mb-3">
                        <h6><%= link_to "Update Account" ,edit_user_registration_path ,class:"btn btn-outline-success mt-2"%> </h6> 
                    </div>
                    <div class="col-6 mb-3">
                        <h6><%= button_to "Delete Account",user_registration_path,method: :delete ,class:"btn btn-outline-danger mt-2"%></h6>
                    </div>
                </div>
            <%end%>
            <div class="row pt-1">
                <div class="col-6 mb-3">
                    <h6><%= link_to "Bus Owner List",bus_owners_path,class:"btn btn-outline-success mt-2"%></h6>
                </div>
            </div>
        </div>
    </div>
<%=render "shared/container2"%>