<%= javascript_include_tag 'button' %>

<section>
	<div class = "container py-5">
		<div class = "row justify-content-center">
			<div class = "col-md-8 col-lg-8 col-xl-8">
				<div class = "card text-black shadow">
					<div class = "text-center">
						<% if @bus.main_image.attached? %>
							<%= image_tag @bus.main_image, class: "card-img-top", style: "width:350px" %>
						<% else %>
							<%= image_tag "bus_logo2.png", class: "card-img-top", style: "width:200px" %>
						<% end %>
					</div>
					<div class = "card-body pt-0 mt-0">
						<div class = "text-center">
							<h4 class = "card-title">Bus name : <%= @bus.name %></h4>
							<p class = "text-muted mb-2">Owner : <%= @busowner.name %></p>
						</div>
					<div>
					<div class = "d-flex justify-content-between">
						<span>Total number of seats: </span><span><%= @bus.total_seat %></span>
					</div>
					<div class = "d-flex justify-content-between">
						<span>Registration no: </span><span><%= @bus.registration_no %></span>
					</div>
					<div class = "d-flex justify-content-between">
						<span>Route:</span><span><%= @bus.route %></span>
					</div>
					<% if current_user_admin? || bus_owner_signed_in? %>
						<div class = "d-flex justify-content-between">
							<span>Status:</span><span class="status"><%= @bus.approved ? "Approved" : "Not Approved" %></span>
						</div>
					<% end %>
					<div class = "row">
						<div class = "d-flex flex-column flex-sm-row justify-content-evenly">
							<% if policy(@bus).view? %>
								<%= link_to "Update Bus", edit_bus_owner_bus_path(@busowner, @bus), class: "btn btn-outline-success m-2" %>
								<%= button_to "Remove Bus", bus_owner_bus_path(@busowner, @bus), method: :delete, class: "btn btn-outline-danger  m-2", style: 'width: 95%;' %>
								<%= link_to "Reservations List", get_list_path(@bus), class: "btn btn-outline-success m-2" %>
							<% end %>
							<%= link_to "Book Ticket", reservation_home_path(@bus), class: "btn btn-outline-success  m-2 book" %>
							<div class="button_container">
								<% if current_user_admin? %>
									<button class="disapprove-button btn btn-outline-danger m-2" data-bus-id= '<%= @bus.id %>' > Disapprove</button>
									<button class="approve-button btn btn-outline-success m-2" data-bus-id = '<%= @bus.id%>'>Approve</button>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<span id="bus-card" data-approved="<%= @bus.approved? %>">
</span>
