<p>Welcome <span><%= @resource.user_type %>:</span> <%= @email %>!</p>
<p>You can confirm your account email through the link below:</p>
<%if @resource.user_type=="user" || @resource.user_type=="admin" %>
  <p><%= link_to 'Confirm my account',verify_url(confirmation_token: @token) %></p>
<%else%>
  <p><%= link_to 'Confirm my account', verify_busowner_url(confirmation_token: @token) %></p>
<%end%>

<p>Your OTP : <%= @resource.otp %></p>
<h3>Render devise/mailer/confirmation_instructions.html.erb</h3>
