
<nav class="navbar navbar-expand-lg  "> 
    <div class="container-fluid">
        <%=image_tag "bus_logo2.png",class:"logo"%> 
        <%=link_to "Bus Reservation",root_path ,class:"navbar-brand text-white btn btn-outline-light "%> 

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <%if signed_in? %>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <%= button_to "Sign Out",destroy_user_session_path,method: :delete,class:"btn btn-outline-light"%>
                        </a>
                    </li>
                    <li class="nav-item username">
                        <%if active_user&.type=="Admin"%>
                        <%= link_to active_user.name ,admin_show_path(active_user&.id),class:" btn btn-outline-light username_link" %>
                        <%else%>
                        <%= link_to active_user.name ,current_user || current_bus_owner,class:" btn btn-outline-light username_link" %>
                        <%end%>
                    </li>
                <%end%>
                <%unless signed_in?  %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn btn-outline-light " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Login
                        </a>
                        <ul class="dropdown-menu">
                            <li> <%=  link_to "User LogIn",new_user_session_path,class:"dropdown-item"%></li>
                            <li> <%=  link_to "User signup",new_user_registration_path,class:"dropdown-item"%></li>
                            <li><hr class="dropdown-divider"></li>
                            <li> <%=  link_to "Bus owner LogIn",new_bus_owner_session_path,class:"dropdown-item"%></li>
                            <li> <%=  link_to "Bus owner signup",new_bus_owner_registration_path,class:"dropdown-item"%></li>
                        </ul>
                    </li>
                 <%end%>
            </ul>
       

            
          <%= form_with(url: :search) do |f| %>
                <div class="input-group gap-2">
                    <%= f.text_field :user_query, value: params[:user_query],class: "form-control search me-2", placeholder: "Type bus name or route" %>
                    <div class="input-group-append ">
                    <%= f.submit "Search", class: "btn btn-outline-light " %>
                    </div>
                </div>
            <% end %>

        </div>
    </div>
</nav>

      



